---
title: Beck Diet
---
{% extends "layouts/body.html.j2" %}
{% block content %}
{% import "layouts/macros.html.j2" as m %}
<p class="w-60">
  This page contains my personal information from The Beck Diet Solution by Judith S. Beck, Ph.D.&ensp;
  Much like the rest of this site, it probably won't be of use to anyone else.
</p>
{{ m.leftstringblock(reasons) }}
{% endblock %}
