---
title: Beck Diet
---
{% extends "layouts/body.html.j2" %}
{% block content %}
{%- import "layouts/macros.html.j2" as m -%}
<p class="w-60 noprint">
  This page contains my personal information from The Beck Diet Solution by
  <span class="prewrap">Judith S. Beck, Ph.D.  Much</span>
  like the rest of this site, it probably won't be of use to anyone else.
</p>
<h3 class="header3">Reasons to lose weight</h3>
<table class="w-80 beck-table">
  {% for r in reasons %}
  <tr class="beck-row"><td class="beck-reason xorange">{{ r.reason }}</td><td class="tc beck-importance xgreen">{{ r.importance }}</td></tr>
  {% endfor %}
</table>
{% endblock %}
