---
title: Book series
---
{% extends "layouts/body.html.j2" %}
{% block content %}
{% import "layouts/macros.html.j2" as m %}
<div class="row-parent">
  <div class="column">
    {{ m.bookseries(bookseries.aird) }}
    {{ m.bookseries(bookseries.baldacci) }}
    {{ m.bookseries(bookseries.cannellHaskell) }}
    {{ m.bookseries(bookseries.cleevesShetland) }}
    {{ m.bookseries(bookseries.dostoyevsky) }}
    {{ m.bookseries(bookseries.erskine) }}
    {{ m.bookseries(bookseries.ferrars) }}
    {{ m.bookseries(bookseries.fluke) }}
    {{ m.bookseries(bookseries.gerritsen) }}
    {{ m.bookseries(bookseries.golden) }}
    {{ m.bookseries(bookseries.graham) }}
    {{ m.bookseries(bookseries.harrisTeagarden) }}
    {{ m.bookseries(bookseries.hurwitz) }}
    {{ m.bookseries(bookseries.kingPeter) }}
    {{ m.bookseries(bookseries.klavan) }}
    {{ m.bookseries(bookseries.larsson) }}
    {{ m.bookseries(bookseries.leese) }}
    {{ m.bookseries(bookseries.lemarchand) }}
    {{ m.bookseries(bookseries.mayhew) }}
    {{ m.bookseries(bookseries.neel) }}
    {{ m.bookseries(bookseries.penny) }}
    {{ m.bookseries(bookseries.todd) }}
    {{ m.bookseries(bookseries.ungerJones) }}
    {{ m.bookseries(bookseries.wodehouse) }}
    {{ m.bookseries(bookseries.yorke) }}
  </div>
</div>
{% endblock %}
