---
title: Legacy Tasks
---
{% extends "layouts/body.html.j2" %}
{% block content %}
{% import "layouts/macros.html.j2" as m %}

{{ m.leftstringblock(activities) }}
{{ m.leftstringblock(moreitems) }}
{{ m.leftstringblock(termiteareas) }}
{{ m.leftstringblock(frontsprinklers) }}
{{ m.leftstringblock(todo) }}
{{ m.leftstringblock(lilypond1) }}
{{ m.leftstringblock(lilypond2) }}
{% endblock %}
